.movieDetails {
    display: flex;
    border-bottom: 2px solid gray;
}

.movieDetailsImage {
    margin: 0 30px 10px 0;
}

.btnBack {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    margin: 10px 0px;
}

.addInformation {
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
}